<h4>Submit a free ad</h4>
<div>
    <div>Ad Title</div><input type="text" id="adTitle" ng-model="sellItem.adTitle" size="100"/>
    <p></p>
    <div>Category</div><input type="text" id="category" ng-model="sellItem.category" size="50"/>
    <p></p>
    <div>Description</div><textarea type="text" id="adDesc" ng-model="sellItem.adDesc" rows="6" cols="50"></textarea>
    <p></p>
    <div>Name</div><input type="text" id="name" ng-model="sellItem.name" size="50"/>
    <p></p>
    <div>Phone Number</div><input type="text" id="phone" ng-model="sellItem.phone" size="50"/>
    <p></p>
    <div>Address</div><input type="text" id="address" ng-model="sellItem.address" size="100"/>
    <p></p>
    <p>By clicking 'Submit' you agree to our Terms of Use & Posting Rules</p>
    <div class="btn btn-success" ng-click="submit()">Submit</div>
</div>